.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}
.container > *{
  min-width: 20rem;
  max-width: 28rem;
}
img {
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 18rem;
  margin: 1rem;
}
.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border: 3rem;
  padding: 1rem;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 2rem;
  font-weight: bold;
}
.favorite {
  color: #e72929;
  font-size: 1.7rem;
}
.favorite.not {
  color: grey;
}
.origins {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem 0;
}
.origins span {
  padding: 0.5rem;
  font-size: 0.8rem;
  margin: 0.5rem 0.8rem 0.5rem 0;
  border-radius: 2rem;
  background-color: aliceblue;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
div a {
  background-color: #e7e7e7;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  padding:  0.1rem 0.7rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: blue;
}
div a:hover {
    background-color: #ff6666;
    color: #f4f4f4;
}
.cook-time {
  margin-top: 1rem;
  padding: 0 0.5rem;
  font-size: 1rem;
}
.price {
  font-size: 1.4rem;
  margin: 0.2rem 0.55rem;
  color: rgb(7, 192, 7);
}
.price::before {
  content: "сомони : ";
  color: rgb(7, 192, 7);
  font-size: 1rem;
}
button {
  color: #fff;
  background-color: #e72929;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 10rem;
  outline: none;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}